<div class="overflow-x-scroll recipe-list rounded-md flex gap-5 p-1">
  <div class="w-full recipe flex flex-col gap-2 p-5 rounded-md outline-1">
    <img class="w-full" src="https://placehold.co/150x100" alt="" />
    <h3>Spice Grilled Chicken With Avocado Salsa</h3>
    <div class="recipe-tags">
      <span class="category">Category</span>
      <span class="area">Area</span>
    </div>
    <div class="recipe-list-btns flex gap-2">
      <button
        class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:outline-non text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 mt-2"
        >Cook Now</button
      >
      <button
        class="bg-gray-200 border border-gray-300 hover:bg-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mt-2"
        >Add to List</button
      >
    </div>
  </div>
</div>
